<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>b-i-u-s</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="b"></div>
    <div class="empty"></div>
    Is a <b>Bold</b> text
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="i"></div>
    <div class="empty"></div>
    Text <i>Italic</i>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="u"></div>
    <div class="empty"></div>
    Text <u>Underline</u>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="s"></div>
    Strike <s>Text</s>
    <div class="empty"></div>
  </div>
</body>
</html>