@layer variable.element.a {
  a {
    --a_link: #2196f3;
    --a_active: #f44336;
    --a_visited: #0068bb;
    --a_fragment: #9c27b0;
  } 
}
a {
  font-weight: bold;
  text-underline-offset: 0.2ex;
  vertical-align: middle;
  &:link {
    color: var(--a_link);
    text-decoration: underline;
  }
  &:visited { color: var(--a_visited); }
  &[href]:active { color: var(--a_active); }
  &[href~="#"] {
    color: var(--a_fragment);
    &:before {
      content: "#";
    }
  }
  &[target]:after {
    content: "\02197";
    top: -.25em;
    left: .1em;
    text-decoration: none;
  }
  &[href^="mailto"] {
    text-decoration: none;
    &:before {
      content: "\02709";
      margin-right: .25em;
    }
  }
  &[href^="tel"] {
    text-decoration: none;
    font-family: var(--font-code, monospace);
    &:before {
      content: "\02706";
      margin-right: .25em;
    }
  }
}
cite {
  font-style: normal;
  font-weight: 500;
  padding: 0 .25em;
  &:hover {
    background-color: #f5f5f5;;
    color: #000;
  }
}