<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>pre</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="pre"></div>
    <div class="empty"></div>
    <pre>.empty {
  height: 24px;
  background-color: whitesmoke;
}</pre>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="pre code"></div>
    <div class="empty"></div>
    <pre><code>.empty {
  height: 24px;
  background-color: whitesmoke;
}</code></pre>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="p"></div>
    <div class="empty"></div>
    <p data-random-sentence=8></p>
    <div class="empty"></div>
  </div>
</body>
</html>