<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>embed</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="embed[type=video/webm]"></div>
    <div class="empty"></div>
    <embed type="video/webm" src="../.sample/video.webm">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="figure embed[type=application/pdf]"></div>
    <div class="empty"></div>
    <figure>
      <figcaption>PDF</figcaption>
      <embed type="application/pdf" src="../.sample/file.pdf">
    </figure>
    <div class="empty"></div>
  </div>
</body>
</html>