<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>img</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="img[alt][title]"></div>
    <div class="empty"></div>
    <img src="../.sample/image.jpg" alt="Image sample 300x300 px" title="Image sample&#10;size 300x300 px">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="figure figcaption + img"></div>
    <div class="empty"></div>
    <figure>
      <figcaption>jpg</figcaption>
      <img src="../.sample/image.jpg">
    </figure>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="(svg) img[width][height]"></div>
    <div class="empty"></div>
    <figure>
      <figcaption>svg</figcaption>
      <img src="../.sample/image.svg" width="200" height="200">
    </figure>
    <div class="empty"></div>
  </div>
</body>
</html>