<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>section</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="section"></div>
    <div class="empty"></div>
    <section>CONTENT</section>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="section * 3"></div>
    <div class="empty"></div>
    <section>CONTENT_1</section>
    <section>CONTENT_2</section>
    <section>CONTENT_3</section>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="header + section + footer"></div>
    <div class="empty"></div>
    <header>HEADER</header>
    <section>
      <h3>Heading 3</h3>
      <p>Paragraph inside of section</p>
    </section>
    <section>
      <h3>Next Section</h3>
      <p>This is paragrap, celow is <code>pre</code></p>
      <pre>function nothing() { return false }</pre>
    </section>
    <footer><a href="javascript:void(0)">Footer</a></footer>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="p + section h3 + p"></div>
    <div class="empty"></div>
    <p>Outside of section</p>
    <section>
      <p>Section again</p>
      <h3>Qefugu</h3>
      <p>Ya ugem vedijozepo uw, fefesupagi upowus licu oqasop rolimopo itololiw.</p>
    </section>
    <div class="empty"></div>
  </div>
</body>
</html>