<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>object</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="figure object[type=application/pdf]"></div>
    <div class="empty"></div>
    <figure>
      <figcaption>PDF</figcaption>
      <object type="application/pdf" data="../.sample/file.pdf"></object>
    </figure>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="figure object[type=text/html]"></div>
    <div class="empty"></div>
    <figure>
      <figcaption>PDF</figcaption>
      <object type="text/html" data="../.sample/example.html"></object>
    </figure>
    <div class="empty"></div>
  </div>
</body>
</html>