<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>header</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="header"></div>
    <div class="empty"></div>
    <header>CONTENT</header>
    <br>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="header hgroup"></div>
    <div class="empty"></div>
    <header>
      <hgroup>
        <h1>Hello World</h1>
        <p>Leading content of hgroup</p>
      </hgroup>
    </header>
    <br>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="header h1, p"></div>
    <div class="empty"></div>
    <header>
      <h1>Heading 1</h1>
      <p>Paragraph</p>
    </header>
    <br>
    <div class="empty"></div>
  </div>
</body>
</html>