<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>li-ol-ul-menu</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="li"></div>
    <div class="empty"></div>
    <li>li_content</li>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ul"></div>
    <div class="empty"></div>
    <ul>ul_content</ul>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ol"></div>
    <div class="empty"></div>
    <ol>ol_content</ol>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="menu"></div>
    <div class="empty"></div>
    <menu>menu_content</menu>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ul li"></div>
    <div class="empty"></div>
    <ul>
      <li>List item 1</li>
      <li>
        List item 2
        <ul>
          <li>List item 2.1</li>
          <li>
            List item 2.2
            <ul>
              <li>List item 2.2.1</li>
              <li>
                List item 2.2.2
                <ul>
                  <li>List item 2.2.2.1</li>
                  <li>
                    List item 2.2.2.2
                    <ul>
                      <li>List item 2.2.2.2.1</li>
                      <li>List item 2.2.2.2.2</li>
                      <li>List item 2.2.2.2.3</li>
                    </ul>
                  </li>
                  <li>List item 2.2.2.3</li>
                </ul>
              </li>
              <li>List item 2.2.3</li>
            </ul>
          </li>
          <li>List item 2.3</li>
        </ul>
      </li>
      <li>List item 3</li>
    </ul>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ol li"></div>
    <div class="empty"></div>
    <ol>
      <li>List item 1</li>
      <li>
        List item 2
        <ol>
          <li>List item 2.1</li>
          <li>
            List item 2.2
            <ol>
              <li>List item 2.2.1</li>
              <li>
                List item 2.2.2
                <ol>
                  <li>List item 2.2.2.1</li>
                  <li>
                    List item 2.2.2.2
                    <ol>
                      <li>List item 2.2.2.2.1</li>
                      <li>List item 2.2.2.2.2</li>
                      <li>List item 2.2.2.2.3</li>
                      <li>List item 2.2.2.2.4</li>
                      <li>List item 2.2.2.2.5</li>
                      <li>List item 2.2.2.2.6</li>
                      <li>List item 2.2.2.2.7</li>
                      <li>List item 2.2.2.2.8</li>
                      <li>List item 2.2.2.2.9</li>
                      <li>List item 2.2.2.2.10</li>
                      <li>List item 2.2.2.2.11</li>
                      <li>List item 2.2.2.2.12</li>
                    </ol>
                  </li>
                  <li>List item 2.2.2.3</li>
                </ol>
              </li>
              <li>List item 2.2.3</li>
            </ol>
          </li>
          <li>List item 2.3</li>
        </ol>
      </li>
      <li>List item 3</li>
    </ol>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="menu li"></div>
    <div class="empty"></div>
    <menu>
      <li>List item 1</li>
      <li>
        List item 2
        <menu>
          <li>List item 2.1</li>
          <li>
            List item 2.2
            <menu>
              <li>List item 2.2.1</li>
              <li>
                List item 2.2.2
                <menu>
                  <li>List item 2.2.2.1</li>
                  <li>
                    List item 2.2.2.2
                    <menu>
                      <li>List item 2.2.2.2.1</li>
                      <li>List item 2.2.2.2.2</li>
                      <li>List item 2.2.2.2.3</li>
                    </menu>
                  </li>
                  <li>List item 2.2.2.3</li>
                </menu>
              </li>
              <li>List item 2.2.3</li>
            </menu>
          </li>
          <li>List item 2.3</li>
        </menu>
      </li>
      <li>List item 3</li>
    </menu>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ul ol li"></div>
    <div class="empty"></div>
    <ul>
      <li>List item 1</li>
      <li>List item 2
        <ol>
          <li>List item 2.1</li>
          <li>List item 2.2</li>
          <li>List item 2.3</li>
        </ol>
      </li>
      <li>List item 3</li>
    </ul>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="ol ul li"></div>
    <div class="empty"></div>
    <ol>
      <li>List item 1</li>
      <li>List item 2
        <ul>
          <li>List item 2.1</li>
          <li>List item 2.2</li>
          <li>List item 2.3</li>
        </ul>
      </li>
      <li>List item 3</li>
    </ol>
    <div class="empty"></div>
  </div>
</body>
</html>