<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>test: box</title>
  <link rel="stylesheet" href="../../../global.css">
  <link rel="stylesheet" href="page.css">
  <link rel="stylesheet" href="box.css">
</head>
<body class="page">
  <main>
    <section class="box">
      <h3>Heading 3</h3>
      <p>Paragraph 1</p>
      <ul>
        <li>List 1</li>
        <li>List 2</li>
        <li>List 3</li>
      </ul>
      <h4>TODO</h4>
    </section>
  </main>
</body>
</html>