<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>paper</title>
  <link rel="stylesheet" href="../../../global.css">
  <link rel="stylesheet" href="box.css">
  <link rel="stylesheet" href="paper.css">
  <script src="../../../asset/js/random.min.js"></script>
</head>
<body class="paper">
  <main>
    <section class="box">
      <h3>Heading 3</h3>
      <p>Paragraph 1</p>
      <ul>
        <li>List 1</li>
        <li>List 2</li>
        <li>List 3</li>
      </ul>
    </section>
    <br>
    <section>
      <hgroup>
        <h4 data-random-sentence=2></h4>
        <p data-random-paragraph=1></p>
      </hgroup>
      <article>
        <h5 data-random-sentence=1></h5>
        <p data-random-paragraph=10><p>
        <p data-random-paragraph=5><p>
        <p data-random-paragraph=4><p>
        <h6 data-random-sentence=2></h6>
        <p data-random-paragraph=20><p>
      </article>
    </section>
  </main>
  <footer>
    <center>foo@bar</center>
  </footer>
</body>
</html>