<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>progress</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="progress"></div>
    <div class="empty"></div>
    <progress value="70" max="100"></progress>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="[class=flex] progress"></div>
    <div class="empty"></div>
    <div class="flex" style="height: 24px; align-items:center">
      <input type="checkbox">
      <progress value="70" max="100"></progress>
      <input type="radio">
    </div>
    <div class="empty"></div>
  </div>
</body>
</html>