<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>var-time-data</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="code var"></div>
    <div class="empty"></div>
    <code>let <var>foo</var> = 'bar'</code>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="time"></div>
    <div class="empty"></div>
    The concert starts at <time datetime="20:00">20:00</time>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="data"></div>
    <div class="empty"></div>
    Hover onto data:<br>
    - <data value="398">Mini Ketchup</data><br>
    - <data value="399">Jumbo Ketchup</data><br>
    - <data value="400">Mega Jumbo Ketchup</data>
    <div class="empty"></div>
  </div>
</body>
</html>