<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>text-color-number</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="input|input[type=text]"></div>
    <div class="empty"></div>
    <input value="no-type"><br>
		<input type="text">
		<input type="text" placeholder="Placeholder"><br>
		<input type="text" value="Content">
		<input type="text" value="Text" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=hidden]"></div>
    <div class="empty"></div>
    <input type="hidden" value="34657">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=color]"></div>
    <div class="empty"></div>
		<input type="color" value="#FFDC00">
		<input type="color" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=password]"></div>
    <div class="empty"></div>
    <input type="password">
		<input type="password" placeholder="Password"><br>
		<input type="password" value="password">
		<input type="password" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=tell]"></div>
    <div class="empty"></div>
    <input type="tell">
		<input type="tell" placeholder="+64"><br>
		<input type="tell" value="+87657657656">
		<input type="tell" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=url]"></div>
    <div class="empty"></div>
    <input type="url">
		<input type="url" placeholder="https://"><br>
		<input type="url" value="https://example.com">
		<input type="url" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=search]"></div>
    <div class="empty"></div>
    <input type="search">
		<input type="search" placeholder="Search"><br>
		<input type="search" value="Something">
		<input type="search" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=email]"></div>
    <div class="empty"></div>
    <input type="email">
		<input type="email" placeholder="mail@your.site"><br>
		<input type="email" value="foo@gmail.com">
		<input type="email" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=date]"></div>
    <div class="empty"></div>
    <input type="date" value="2018-07-22" min="2018-01-01" max="2018-12-31">
    <input type="date" value="2018-07-22" disabled>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=datetime-local]"></div>
    <div class="empty"></div>
    <input type="datetime-local" value="2018-06-12T19:30">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=month]"></div>
    <div class="empty"></div>
    <input type="month" min="2022-06" max="2022-09" required>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=week]"></div>
    <div class="empty"></div>
    <input type="week" min="2017-W01" max="2017-W52">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=time]"></div>
    <div class="empty"></div>
    <input type="time" min="09:00" max="18:00" required>
    <div class="empty"></div>
  </div>
</body>
</html>