<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>button-file</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="button"></div>
    <div class="empty"></div>
    <button>Button</button><button disabled>Disabled</button>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[button]"></div>
    <div class="empty"></div>
    <input type="button" value="Button"><input type="button" value="Disabled" disabled>Text
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[reset]"></div>
    <div class="empty"></div>
    <input type="reset" value="Reset"><input type="reset" value="Disabled" disabled>Text
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[submit]"></div>
    <div class="empty"></div>
    <input type="submit" value="submit"><br>
    <input type="submit" value="Disabled" disabled>Text
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[file]"></div>
    <div class="empty"></div>
    <input type="file"><br>
    <input type="file" disabled>Text
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[file] (types)"></div>
    <div class="empty"></div>
    <input type="file" webkitdirectory directory> <code>directoty</code><br>
    <input type="file" name="file[]" multiple> <code>multiple</code>    
    <div class="empty"></div>
  </div>
</body>
</html>