<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>q-mark-kbd</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="q"></div>
    <div class="empty"></div>
    This is <q>Sentence inside  quote</q>.
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="mark"></div>
    <div class="empty"></div>
    Example <mark>Marked</mark> text.
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="kbd"></div>
    <div class="empty"></div>
    Press <kbd>Ctrl</kbd>+<kbd>s</kbd> to Save.
    <div class="empty"></div>
  </div>
</body>
</html>