<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>select-option</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="select option"></div>
    <div class="empty"></div>
    <select>
			<option>Option A</option>
			<option>Option B</option>
			<option>Option C</option>
		</select>
		<select disabled>
			<option>Option 1</option>
			<option>Option 2</option>
			<option>Option 3</option>
		</select>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="select[multiple]"></div>
    <div class="empty"></div>
    <select multiple>
			<option>List Option A</option>
			<option>List Option B</option>
			<option>List Option C</option>
			<option>List Option D</option>
			<option>List Option E</option>
			<option>List Option F</option>
		</select>
		<select multiple disabled>
			<option>List Option 1</option>
			<option>List Option 2</option>
			<option>List Option 3</option>
		</select>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="select option"></div>
    <div class="empty"></div>
    <select>
			<option selected>Select by group</option>
			<optgroup label="Group 1">
				<option>Option A</option>
				<option>Option B</option>
			</optgroup>
			<optgroup label="Group 2">
				<option>Option A</option>
				<option>Option B</option>
			</optgroup>
			<option disabled>Group 3</option>
		</select>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="select option"></div>
    <div class="empty"></div>
    <p>paragraph</p>
    <select>
			<option>Option A</option>
			<option>Option B</option>
			<option>Option C</option>
		</select>
    <p>paragraph</p>
		<div class="empty"></div>
  </div>
</body>
</html>