<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>abbr-dfn</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="abbr"></div>
    <div class="empty"></div>
    Without abbr: css,<br>
    with abbr: <abbr>css</abbr>   
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="abbr[title]"></div>
    <div class="empty"></div>
    Multiline title inside <abbr title="Hyper&#10;Text&#10;Markup&#10;Language">html</abbr>   
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="dfn"></div>
    <div class="empty"></div>
    <dfn>dev</dfn>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="dfn[title]"></div>
    <div class="empty"></div>
    <dfn title="Developer">dev</dfn> 
    <div class="empty"></div>
  </div>
</body>
</html>