<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>blockquote</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="blockquote"></div>
    <div class="empty"></div>
    <blockquote>
      NODE_TEXT
    </blockquote>
    <div class="empty"></div>
  </div>
</body>
</html>