<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>textarea-image</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="input[type=text]"></div>
    <div class="empty"></div>
    <input type="text">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="input[type=image]"></div>
    <div class="empty"></div>
    <input type="image" src="arrow-down-circle.png"><!-- 240x240 -->
    <code>png</code>
    <input type="image" src="arrow-down-circle.svg"><!-- 24x24 -->
    <code>svg</code>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="textarea"></div>
    <div class="empty"></div>
    <textarea placeholder="placeholder"></textarea><br>
    <textarea disabled></textarea>
    <span>TEXT</span>
    <div class="empty"></div>
  </div>
</body>
</html>