del {
  text-decoration-thickness: 2px;
  text-decoration-color: #ff5722;
  text-decoration-line: line-through;
  text-decoration-style: double;
}
ins {
  background-color: #effff0;
  padding: 0 2px;
}