<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>absolute</title>
  <link href="../../../global.css" rel="stylesheet">
  <link href="../box/page.css" rel="stylesheet">
  <link href="aspect-ratio.css" rel="stylesheet">
</head>
<body class="page">
  <h2>Aspect ratio 16/9</h2>
  <h4>iframe</h4>
  <div class="aspect-ratio">
    <iframe></iframe>
  </div>
  <h4>img</h4>
  <div class="aspect-ratio">
    <img>
  </div>
  <h4>video</h4>
  <div class="aspect-ratio">
    <video></video>
  </div>
  <h4>div</h4>
  <div class="aspect-ratio">
    <div>DIV</div>
  </div>
</body>
</html>