<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>fieldset-legend</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="fieldset"></div>
    <div class="empty"></div>
    <fieldset>
      NODE_TEXT
    </fieldset>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="fieldset > legend"></div>
    <div class="empty"></div>
    <fieldset>
      <legend>Legend</legend>
      NODE_TEXT
    </fieldset>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="legend h1"></div>
    <div class="empty"></div>
    <fieldset>
      <legend><h1>Heading 1</h1></legend>
      <p>Paragraph</p>
    </fieldset>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="legend h4"></div>
    <div class="empty"></div>
    <fieldset>
      <legend><h4>Heading 4</h4></legend>
      <p>Paragraph</p>
    </fieldset>
    <div class="empty"></div>
  </div>
</body>
</html>