<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>code-samp-output</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="code"></div>
    <div class="empty"></div>
    There is no <code>forEach()</code> method in <code>Object</code>.
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="samp"></div>
    <div class="empty"></div>
    In terminal <samp>$ git commit -m 'Update'</samp>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="output"></div>
    <div class="empty"></div>
    Result: <output>60</output>
    <div class="empty"></div>
  </div>
</body>
</html>