<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>article</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="article"></div>
    <div class="empty"></div>
    <article>CONTENT</article>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="header article footer"></div>
    <div class="empty"></div>
    <header>Header</header>
    <article>ARTICLE</article>
    <footer><b>Footer</b></footer>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="article > *"></div>
    <div class="empty"></div>
    <article>
      <h1>Heading 1</h1>
      <p>Lo osalapim komimese asez, lejajucusa ikumehah zi epapakotiv. xonacelesa akaguxukit zugoyu omejip, taba uvusozes tadu ogel.</p>
      <p>Hojibo if, nuka ujuvulajem piqa idorivol cohe ilalarux guzumeha imuj. boye uy</p>
      <section>
        <h2>Heading 2</h2>
        <p>Hofoyo elamacew birudavuge uw yokayu elah, ze onifen baxulule ocogox. jofini epabufib xocecaroyu asaqak fasi oletomuweq, zusinevape ipix gefehoti en.</p>
        <p>Yidipo amoc najowuqo om cawi ajahagibik tazimidi aqir, kavayo ohoduv motowojace acobuxokik ne ax.</p>
      </section>
      <section>
        <h2>Heading 2</h2>
        <p>Kogadaqufi uhunobovel riqativoga ec, cove uxaz. koyinoyuce oroneh likiliho ozuh, weloxeheta epoxoruhaf. ripimuco unefoc wosotubeju eziheg, sidugu itetizeyiq.</p>
        <p>buluju oyeg zujocokize obefal, covuhi olexic.</p>
      </section>
    </article>
    <div class="empty"></div>
  </div>
</body>
</html>