<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>footer</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="footer"></div>
    <div class="empty"></div>
    <br>
    <footer>CONTENT</footer>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="footer CONTENTS"></div>
    <div class="empty"></div>
    <br>
    <footer>
      <div>CONTENT</div>
      <div>CONTENT</div>
      <div>CONTENT</div>
    </footer>
    <div class="empty"></div>
  </div>
</body>
</html>