<html lang="en" class="ccL dhD">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>Utility</title>
  <link href="utility.css" rel="stylesheet">
  <script src="utility_config.js"></script>
</head>
<body class="ccL hpb OoK dhD">
  <div class="nBi Kjj TVm ozn ccL WKN deU">
    <div class="MFX HOw fKn dYk Dhd AYE GwL FoZ Ytm KIj dra NuB ohG Dgh ccL WKN nwc">
      <div class="">
        <input id="file_input" class="rDI mLP sKz hpb nIT Gzs" type="file" id="input_file">
      </div>
      <div class="dhD ccL gxf">
        <textarea id="ta_input" placeholder="Paste here ..." class="rDI Gzs sKz hpb zTF RyF khm ccL PWI mLP"></textarea>
      </div>
    </div>
    <div class="fKn AYE Ytm NuB ccL Dgh dhD WKN nwc">
      <div class="dhD ccL">
        <textarea id="ta_output" placeholder="Result ..." class="rDI ccL RyF sKz khm zTF PWI hpb Gzs mLP"></textarea>
      </div>
      <div class="gxf Gzs">
        <button class="rDI" onclick="minifyTA()">Minify</button>
        <button class="rDI" onclick="saveFile()">Save</button>
      </div>
    </div>
  </div>
</body>
</html>