<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>address</title>
  <link href="../../../global.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <link href="../../typography/_export.css" rel="stylesheet">
  <link href="../../layout/_export.css" rel="stylesheet">
  <link href="address.css" rel="stylesheet">
  <script src="../../../utility/js/random.min.js" defer></script>
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="address"></div>
    <div class="empty"></div>
    <address>
      Content of adress<br>
      break<br>
      to<br>
      new line
    </address>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="footer > address"></div>
    <div class="empty"></div>
    <br>
    <footer>
      <div></div>
      <div>example</div>
      <address>
        <p><b>Support</b>:</p>
        <a href="mailto:foo@bar.baz">foo@bar.baz</a>
        <a href="tel:878-989-989">878-989-989</a>
      </address>
    </footer>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="section > address"></div>
    <div class="empty"></div>
    <section>
      <address>ADDRESS</address>
    </section>
    <div class="empty"></div>
  </div>
</body>
</html>