<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>range</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="input[type=button]"></div>
    <div class="empty"></div>
    <input type="button" value="Foundation">
    <input type="checkbox">
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="[class=flex] input[type=range]"></div>
    <div class="empty"></div>
    <div class="flex">
      <input type="range" min="0" max="100">
    </div>
    <div class="empty"></div>
  </div>
</body>
</html>