<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>nav</title>
  <link href="../../../_export.css" rel="stylesheet">
  <link href="../../../utility/_export.css" rel="stylesheet">
  <script src="../../../utility/demo/dev.js" defer></script>
</head>
<body class="page">
  <div>
    <div class="code" data-name="nav"></div>
    <div class="empty"></div>
    <nav>NO_CONTENT</nav>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="nav ul ol"></div>
    <div class="empty"></div>
    <nav>
      <ul>
        <li>List item 1</li>
        <li>List item 2
          <ol>
            <li>List item 2.1</li>
            <li>List item 2.2</li>
            <li>List item 2.3</li>
          </ol>
        </li>
        <li>List item 3</li>
      </ul>
    </nav>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="nav menu"></div>
    <div class="empty"></div>
    <nav>
      <menu>
        <li>Menu item 1</li>
        <li>Menu item 2
          <menu>
            <li>Sub Menu item 2.1</li>
            <li>Sub Menu item 2.2</li>
            <li>Sub Menu item 2.3</li>
          </menu>
        </li>
        <li>Menu item 3</li>
      </menu>
    </nav>
    <div class="empty"></div>
  </div>
  <div>
    <div class="code" data-name="header nav ul"></div>
    <div class="empty"></div>
    <header>
      <nav>
        <ul>
          <li>Nav item 1</li>
          <li>Nav item 2</li>
          <li><a href="#!">Nav item 3</a></li>
        </ul>
      </nav>
    </header>
    <div class="empty"></div>
  </div>
</body>
</html>